services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always

  web:
    build: .
    restart: always
    command: 
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             gunicorn student_assistant.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 300 --max-requests 1000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build: .
    restart: always
    command: celery -A student_assistant worker -l info
    volumes:
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  static_volume:
  media_volume: