Django>=4.2
djangorestframework
djangorestframework-simplejwt
gunicorn
psycopg2-binary
celery
redis
PyMuPDF
pdf2image
openai
pinecone
python-dotenv
whitenoise
langchain
langchain-openai
langchain-pinecone
PyPDF2
easyocr
Pillow
pydantic==2.9.2  
pydantic-settings==2.5.2