name: Build and deploy container app to Azure Web App - tmaxai-web

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push container image to Docker Hub
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          # Matches your Docker Hub repo: ftkbyond77/tmaxai-web
          tags: index.docker.io/ftkbyond77/tmaxai-web:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3EF7691DB870469BAABD155D25DE3271 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_836F722792E540238E43E0671A6EF9E8 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_995AA82B28CF4E4B9C6659EA137D5F79 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'tmaxai-web'
          slot-name: 'Production'
          # Tells Azure to pull the specific image we just built
          images: 'index.docker.io/ftkbyond77/tmaxai-web:${{ github.sha }}'