# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - tmaxai-web

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_DE0F94077DEB4FA8BFD1C733A1528977 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_01299D8F757E4ACAA0D5FF2F49BBDD65 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_DE0F94077DEB4FA8BFD1C733A1528977 }}/ftkbyond77/tmaxai-web:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1B2478B1E183436782A2CC32C5B421F4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_293862D50BA2410F8F3537C387BC35F0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D1A9ECD44673424FA8CE53CC64C19943 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'tmaxai-web'
          slot-name: 'Production'
          images: 'docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_DE0F94077DEB4FA8BFD1C733A1528977 }}/ftkbyond77/tmaxai-web:${{ github.sha }}'
          